@import 'variables/variables';
@import 'mixins/alerts_mixins';
@import 'variables/colors';

.alert{
  padding: 12px 20px;
  border-radius: 12px;

  .primary{
    @include alertType($primaryBackgroundColor, $primaryTextBorderColor);
  }

  .secondary{
    @include alertType($secondaryBackgroundColor, $secondaryTextBorderColor);
  }

  .success{
    @include alertType($successBackgroundColor, $successTextBorderColor);
  }

  .danger{
    @include alertType($dangerBackgroundColor, $dangerTextBorderColor);
  }

  .warning{
    @include alertType($warningBackgroundColor, $warningTextBorderColor);
  }

  .light{
    @include alertType($lightBackgroundColor, $lightTextBorderColor);
  }

  .dark{
    @include alertType($darkBackgroundColor, $darkTextBorderColor);
  }

  .alert-title{
    font-family: $roboto_slab;
  }

  /* .alert-heading class is in _fontsAndHeaders.scss file */

  .alert-content{
    font-style: italic;
  }

  .cancel-button{
    content: "🗙";
  }

  .alert-link{
    font-family: $roboto;
    font-weight: bold;
    text-decoration: none;

    &:hover{
      text-decoration: 1px underline;
    }
  }
}