@import 'variables/variables';
@import 'variables/colors';

.badge{
  border-radius: 12px;
  padding: 5px;
  font-size: inherit;

  .small{
    font-size: .5em !important;
  }

  .pill{
    border-radius: 50px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .primary{
    background-color: $primaryColor;
    color: white;
  }

  .secondary{
    background-color: $secondaryColor;
    color: white;
  }

  .success{
    background-color: $successColor;
    color: white;
  }

  .danger{
    background-color: $dangerColor;
    color: white;
  }

  .warning{
    background-color: $warningColor;
    color: $basicBlack;
  }

  .light{
    background-color: $lightColor;
    color: white;
  }

  .dark{
    background-color: $darkColor;
    color: white;
  }

  .info{
    background-color: $infoColor;
    color: white;
  }
}

a{
  .badge{
    &:hover{
      .primary{
        background-color: $primaryDarkColor;
      }

      .secondary{
        background-color: $secondaryDarkColor;
      }

      .success{
        background-color: $successDarkColor;
      }

      .danger{
        background-color: $dangerDarkColor;
      }

      .warning{
        background-color: $warningDarkColor;
        color: white;
      }

      .light{
        background-color: $lightDarkColor;
      }

      .dark{
        background-color: $darkDarkColor;
      }

      .info{
        background-color: $infoDarkColor;
      }
    }
  }
}