/* Material Icons by Google */
/* https://github.com/google/material-design-icons */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
}