/* REactive Framework 1.0 by kamdu22 */

/* MIT License */


@import 'mixins/fontsAndHeaders_mixins';

/* normalize.css */

/* TODO: add normalize.css code */

@import 'variables/variables';
@import 'variables/colors';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  @include basicFont();
  color: $basicBlack;
}

hr {
  border: 0;
  border-top: 1px solid rgb(204, 204, 204);
  margin: 20px 0;
}

a {
  color: inherit !important;
}

@import 'fontsAndHeaders';
@import 'typography';
@import 'grid';
@import 'alerts';
@import 'badges';
@import 'buttons';
@import 'cards';
@import 'navigation';
@import 'dropdowns';

@import 'material_icons_by_Google';