/* basic */

$basicBlack:                hsl(0, 0%, 15%);

/* typography */

$markBackgroundColor:       hsl(50, 81%, 94%);

$blockquoteFooterColor:     hsl(0, 0%, 42%);

$kbdBackgroundColor:        hsl(0, 0%, 15%);

/* fonts and headers */

$blockquoteBackgroundColor: hsl(0, 0%, 82%);

$mutedTextColor:            hsl(0, 0%, 42%);

/* alerts and badges */

$primaryColor:              hsl(217, 100%, 32%);
$primaryDarkColor:          hsl(217, 100%, 10%);
$primaryDisabledColor:      hsl(217, 20%, 60%);
$primaryBackgroundColor:    hsl(211, 100%, 90%);
$primaryTextBorderColor:    hsl(217, 100%, 32%);

$secondaryColor:            hsl(207, 7%, 24%);
$secondaryDarkColor:        hsl(210, 8%, 10%);
$secondaryDisabledColor:    hsl(207, 2%, 60%);
$secondaryBackgroundColor:  hsl(220, 5%, 89%);
$secondaryTextBorderColor:  hsl(207, 7%, 24%);

$successColor:              hsl(125, 61%, 21%);
$successDarkColor:          hsl(124, 62%, 10%);
$successDisabledColor:      hsl(125, 20%, 60%);
$successBackgroundColor:    hsl(134, 41%, 88%);
$successTextBorderColor:    hsl(125, 61%, 21%);

$dangerColor:               hsl(354, 61%, 28%);
$dangerDarkColor:           hsl(353, 62%, 10%);
$dangerDisabledColor:       hsl(354, 20%, 60%);
$dangerBackgroundColor:     hsl(355, 70%, 91%);
$dangerTextBorderColor:     hsl(354, 61%, 28%);

$warningColor:              hsl(45, 94%, 27%);
$warningDarkColor:          hsl(45, 92%, 10%);
$warningDisabledColor:      hsl(45, 20%, 60%);
$warningBackgroundColor:    hsl(46, 100%, 90%);
$warningTextBorderColor:    hsl(45, 94%, 27%);

$lightColor:                hsl(240, 0%, 51%);
$lightDarkColor:            hsl(240, 0%, 10%);
$lightDisabledColor:        hsl(240, 0%, 60%);
$lightBackgroundColor:      hsl(0, 0%, 100%);
$lightTextBorderColor:      hsl(240, 0%, 51%);

$darkColor:                 hsl(210, 10%, 12%);
$darkDarkColor:             hsl(200, 12%, 10%);
$darkDisabledColor:         hsl(210, 2%, 60%);
$darkBackgroundColor:       hsl(200, 4%, 85%);
$darkTextBorderColor:       hsl(210, 10%, 12%);

$infoColor:                 hsl(188, 78%, 41%);
$infoDarkColor:             hsl(188, 78%, 10%);
$infoDisabledColor:         hsl(188, 20%, 60%);
